## Lab | Inferential statistics - T-test & P-value

We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case

Degrees of freedom is (n1-1)+(n2-1).

## Loading libraries

In [48]:
import numpy as np
import pandas as pd
import statistics
import math
from scipy.stats import t, tstd
import csv

## Load data

In [49]:
new=[42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old=[42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

In [50]:
machine=pd.DataFrame(new)
machine["old"]=old

In [51]:
machine

      0   old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [52]:
machine.columns=[['new','old']]

In [53]:
machine

    new   old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [54]:
machine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   (new,)  10 non-null     float64
 1   (old,)  10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

## Calculations

In [71]:
sample_mean1= round(np.mean(new),2)
sample_mean1

42.14

In [72]:
sample_mean2= round(np.mean(old),2)
sample_mean2

43.23

In [73]:
sample_std1= round(tstd(new),2)
sample_std1

0.68

In [74]:
sample_std2= round(tstd(old),2)
sample_std2

0.75

## Hypothesis test

In [75]:
Ho= new_mean=old_mean
Ha= new_mean<old_mean

In [76]:
n = 10

pooled_sample_std = math.sqrt(((n-1)*sample_std1**2 + (n-1)*sample_std2**2)/(n+n-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n)+(1/n)))
print("T Statistic is: ", statistic)

T Statistic is:  -3.4047540987884606

In [77]:
print("P value is: ", 1- t.cdf(statistic,(n*2)-2))
print("Critical Value of z is: ", t.ppf(0.025, n+n-2))

P value is:  0.9984209598073223
Critical Value of z is:  -2.10092204024096

In [82]:
if abs(t.ppf(0.025, n+n-2))<abs(statistic):
    print("Reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

Reject the null hypothesis

## An additional problem

In [95]:
# mean and standard deviation calculation

In [83]:
sophomores=[3.04, 2.92, 2.86, 1.71, 3.60, 3.49, 3.30, 2.28, 3.11, 2.88, 2.82, 2.13, 2.11, 3.03, 3.27, 2.60, 3.13]
juniors=[2.56, 3.47, 2.65, 2.77, 3.26, 3.00, 2.70, 3.20, 3.39, 3.00, 3.19, 2.58, 2.98]

In [90]:
sample_mean1= round(np.mean(sophomores),2)
sample_mean1

2.84

In [91]:
sample_mean2= round(np.mean(juniors),2)
sample_mean2

2.98

In [92]:
sample_std1= round(tstd(sophomores),2)
sample_std1

0.52

In [93]:
sample_std2= round(tstd(juniors),2)
sample_std2

0.31

In [94]:
n1=17
n2=13

In [96]:
pooled_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
print("T Statistic is: ", statistic)

T Statistic is:  -0.8589504911088421

In [97]:
print(ttest_ind(sophomores,juniors))
print("Critical Value of z is: ", t.ppf(0.025, n1+n2-2))

Ttest_indResult(statistic=-0.8643254553234221, pvalue=0.3947535966669614)
Critical Value of z is:  -2.048407141795244

In [98]:
if abs(t.ppf(0.025, n1+n2-2))<abs(statistic):
    print("Reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We fail to reject the null hypothesis